* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}
main {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d2effd' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.logo {
  height: 57px;
  width: 57px;
}
.logo-footer {
  height: 150px;
  width: 150px;
}
header {
  background-color: #d2effd;
}
a {
  text-decoration: none;
  color: black;
}
.title {
  width: 20%;
  margin: auto;
  text-align: center;
  color: rgb(255, 212, 225);
  font-size: 2.5rem;
}
.subtitle {
  color: rgb(255, 212, 225);
  font-size: 2rem;
  text-align: center;
  margin: auto;
}
ul {
  list-style: none;
}
.nav-item {
  padding: 1rem;
  background-color: transparent;
}
.nav-item:hover {
  background-color: #a7e2ff;
}
.galeria {
  height: 250px;
  width: 250px;
  padding-bottom: 15px;
}
.footer {
  background-color: #d2effd;
}
/* About Us CSS */
.sobreNosImg {
  height: 200px;
  width: 200px;
  margin: 0 1rem 1rem 1rem;
}
/* Fin About Us CSS */
/* Panaderia y Pasteleria CSS */
.productos-container {
  width: 50%;
  margin: auto;
}
.producto {
  height: 200px;
  width: 200px;
  margin: 0 1rem 1rem 1rem;
}
/* Fin Panaderia y Pasteleria CSS */
/* Contact CSS */

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #d2effd;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  background-color: #ffffff;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
/* Fin Contact CSS */
@media only screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .reverse-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer {
    justify-content: space-around;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr) 0fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .img1 {
    grid-area: 1/ 2 / 3 / 3;
  }

  .img2 {
    grid-area: 1 / 3 / 3 / 4;
  }

  .img3 {
    grid-area: 1 / 4 / 3 / 5;
  }

  .img4 {
    grid-area: 2 / 2 / 4 / 3;
  }
  .img5 {
    grid-area: 2 / 3 / 4 / 4;
  }

  .img6 {
    grid-area: 2 / 4 / 4 / 5;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer {
    justify-content: space-around;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr) 0fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .img1 {
    grid-area: 1/ 1 / 2 / 3;
  }

  .img2 {
    grid-area: 1 / 2 / 2 / 4;
  }

  .img3 {
    grid-area: 2 / 1 / 3 / 5;
  }

  .img4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .img5 {
    grid-area: 3 / 1 / 3 / 4;
  }

  .img6 {
    grid-area: 3 / 2 / 3 / 5;
  }
}
@media only screen and (max-width: 480px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr) 0fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .img1 {
    grid-area: 1/ 1 / 2 / 1;
  }

  .img2 {
    grid-area: 2 / 1 / 3 / 1;
  }

  .img3 {
    grid-area: 3 / 1 / 4 / 1;
  }

  .img4 {
    grid-area: 4 / 1 / 5 / 1;
  }
  .img5 {
    grid-area: 5 / 1 / 6 / 1;
  }

  .img6 {
    grid-area: 6 / 1 / 6 / 1;
  }
}
